PORT=55000
DEBUG=true
AVATAR_DIR=data/avatars

REQUIRE_AUTH=true

MAX_PING_BPS=1000000
MAX_PING_SIZE=8000
MAX_AVATAR_SIZE=256000

RATE_LIMIT_REQUESTS=100
RATE_LIMIT_WINDOW=60
RATE_LIMIT_CLEANUP_INTERVAL=3600

WS_MAX_CONNECTIONS_PER_IP=5
WS_MAX_MESSAGES_PER_SEC=50
WS_MAX_SUBS_PER_CLIENT=256

TRUSTED_PROXIES=127.0.0.1, ::1, 172.16.0.0/12
CUSTOM_REAL_IP_HEADER= 
